@media (max-width: 320px), (max-width: 639px) {

    /* ++++++++++++++++++++++++++++++ Header ++++++++++++++++++++++++++++++ */

    header {
        padding: 0 10px;
    }

    /* ++++++++++++++++++++++++++++++ Section-1 ++++++++++++++++++++++++++++++ */

    .section-1 {
        background-position: 33%;
        height: 187px;
    }

    /* ++++++++++++++++++++++++++++++ section 2 ++++++++++++++++++++++++++++++ */

    .section-2 {
        max-height: 1145px;
        padding: 30px 10px 21px;
    }

    article h2 {
        max-width: 300px;
        font-size: 24px;
        line-height: 29px;
    }

    article p {
        margin-top: 20px;
        height: 308px;
    }

    article h3 {
        font-size: 24px;
        line-height: 29px;
    }

    .glass {
        height: 591px;
    }

    .glass-inside-box {
        width: 100%;
        margin-top: 20px;
    }

    .glass-inside-box > h2 {
        font-size: 24px;
        line-height: 29px;
        margin: 0 auto 10px auto;
        text-align: center;
    }

    .glass-inside-box > p {
        font-size: 16px;
        line-height: 22px;
    }

    .panda-diet {
        width: 300px;
        height: 139px;
        margin: 10px auto 0;
    }

    .panda-diet-info {
        margin-top: 59px;
    }

    .panda-diet-info > h2 {
        font-size: 40.6px;
        margin-bottom: 6.2px;
    }

    .panda-diet-info > p {
        font-size: 9px;
        width: 89px;
        text-align: center;
    }

    .x-icon {
        width: 7.9px;
        height: 7.9px;
        margin: auto 36px auto 6.2px;
    }

    .bar {
        margin-top: 4.3px;
        max-width: 300px;
        margin: 4.3px auto 0;
    }

    .bar > h3 {
        margin-left: 0;
        font-size: 16px;
    }

    .progress {
        max-width: 300px;
        height: 13.5px;
        margin: 8.5px auto 0;
    }

    .input-range {
        width: 262px;
        height: 1px;
    }

    .dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 10px;
        bottom: -5px;
        margin-bottom: 26px;
    }

    .dots-list {
        width: 280px;
    }

    .dot-circle {
        width: 20px;
        height: 20px;
    }

    .dot-spot {
        width: 5px;
        height: 5px;
    }

    .dot-active-2 {
        background: url(../../assets/icons/roller_icon_small.png);
        width: 20px;
        height: 20px;
    }

    .money {
        margin-left: 8.5px;
        width: 281px;
    }

    .money-list {
        margin-top: 6px;
        grid-template-columns: 60px 68px 65px 65px 30px;
    }

    .money-amount {
        font-size: 13px;
    }

    .form {
        margin-top: 25px;
    }

    .input-radio {
        margin-top: 15px;
    }

    .feed-button {
        margin-top: 27px;
    }

    .share-with {
        width: 301px;
        margin: 30px auto 0;
    }
    
    /* ++++++++++++++++++++ Footer ++++++++++++++++++++ */

    footer {
        padding: 20px 10px;
        height: 334px;
    }

    .f-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        margin: 0 auto;
    }

    footer .logo {
        border: none;
        width: 128px;
        height: auto;
    }

    footer .logo h2 {
        display: flex;
        gap: 5px;
    }

    footer .logo img {
        left: 72px;
        top: -2px;
    }

    .footer-middle-section {
        margin-top: auto;
    }

    .btn-donate {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .footer-lower-section {
        height: 101px;
        flex-direction: column;
    }

    .footer-social {
        order: 2;
        position: absolute;
        left: 20%;
        top: 53px;
        width: 194px;
    }

    .social-media {
        margin-top: 0;
        gap: 30px;
        flex-direction: row;
    }

    .footer-nav {
        order: 1;
        margin: 0 11px;
    }

    .nav-link {
        font-weight: 400;
        line-height: 22px;
    }

    .footer-nav nav {
        gap: 30px;
    }

    .author {
        font-size: 15px;
        line-height: 18px;
        row-gap: 13px;
    }

    .footer-author {
        order: 0;
    }
}    